<?xml version="1.0" encoding="UTF-8"?>
<system>
  <service>
    <config>service.xml</config>
  </service>
  <database>
    <url>tcp://116.255.156.152:3306/otc_db</url>
    <user>zhuyi</user>
    <password>zhuyi!168</password>
    <autocommit>1</autocommit>
    <poolsize>2</poolsize>
    <heartbeat>60000</heartbeat>
    <checksql>select 1</checksql>
  </database>
  <serializer>
    <module.uuid>com.micro.future.message.serializer.dll</module.uuid>
    <module.path>pbserializer.dll</module.path>
  </serializer>
  <sysparam>
    <mergedbparam/>
    <CTP.MD.LOGIN.BROKERID>9999</CTP.MD.LOGIN.BROKERID>
    <CTP.MD.LOGIN.USERID>031237</CTP.MD.LOGIN.USERID>
    <CTP.MD.SERVER>tcp://180.168.212.228:41213</CTP.MD.SERVER>
    <CTP.TRADER.SERVER>tcp://180.168.146.187:10000</CTP.TRADER.SERVER>
  </sysparam>
</system>